:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header {
  background-color: rgb(81, 50, 165);
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  margin: 0rem;
}

nav {
  margin: 0rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

h2.head {
  color: white;
  margin: 2rem 0rem 1rem 0.5rem;
  min-width: 14rem;
  font-size: 1.25rem;
}

a {
  color: white;
  margin: 0rem;
  padding: 2rem 1rem 2rem 0rem;
  text-align: center;
  min-width: 5rem;
}
.contact {
  margin-right: 0.5rem;
}

nav :hover {
  background-color: #ffc107;
}
.hero-image {
  background-size: cover;
  margin: 0rem;
  margin-top: -1.95rem;
}
h1 {
  color: white;
  text-align: center;
  font-size: 2.25rem;
  padding: 10rem 0rem;
}

.credit {
  text-align: center;
  padding: 0rem;
  margin: 0rem;
  margin-top: -1.85rem;
}

.launch-title {
  background-color: #ffc107;
  margin: 0rem;
  padding: 1rem;
}

article {
  background-color: #d1c4e9;
  margin: 0rem;
  padding: 1rem;
  text-align: center;
  align-content: baseline;
}
article h2 {
  background-color: #d1c4e9;
}

button {
  background-color: #ffc107;
  width: 6rem;
  height: 7rem;
  margin-top: 1.5rem;
}

.left-arrow {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.right-arrow {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.upcoming-launches {
  display: flex;
  justify-content: space-between;
}

.launch {
  background-color: rgb(237, 237, 237);
  width: 15rem;
  margin: 1rem;
}
.mission {
}
.details {
}

.launch-time {
}

.launch-site {
}

footer {
  background-color: rgb(81, 50, 165);
  color: white;
  text-align: center;
  margin: 0rem;
}

footer p {
  margin: 0rem;
  padding: 3rem;
}
